@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to top, transparent, #bfddd2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.nav-link:hover {
  font-weight: bold;
  border-bottom: 1px solid black;
}

@layer components {
  .rich-text p {
    @apply my-4;
  }
  .rich-text ul {
    @apply list-disc ml-4;
  }
}
